* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'icones', sans-serif;
}

body {
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;    
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    box-shadow: 2px 3px 10px #000;
}

.box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 150px 0;
    border-radius: 20px 0 0 20px;

}

.box-left-title {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    text-shadow: 1px 1px 4px #000;
    
}

.box-left-subtitle {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
}

.box-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.2;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 20px 20px 0;
    border-left: 1px solid #000;
}

.box-right form {
    padding: 15px 70px;
    width: 100%;
    height: 90%;
}

.box-right form .input-padrao {
    display: block;
    padding: 15px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 20px;
    width: 50%;
}

.box-right form select:not(.input-group select) {
    margin-bottom: 40px;
}

.box-right form .input-group {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.box-right form .input-group .input-padrao {
    width: 38%;
}

.box-right form .input-group img {
    width: 30px;
    cursor: pointer;
}

.box-right form .form-button {
    display: block;
    padding: 15px 100px;
    margin-left: 14%;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    background-color: slateblue;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 500ms background;
    margin-bottom: 30px;
}

.box-right form .form-button:hover {
    background-color: violet;    
}

.box-right form label {
    display: block;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
}

.box-right form #resultado {
    width: 100%;
    
}

@media screen and (max-width: 768px) {

    .box {
        display: flex;
        flex-direction: column;
        width: 700px;
    }

    .box-left {
        padding: 10px;
        border-radius: 20px 20px 0 0;
        border-bottom: 1px solid #000;
    }

    .box-left-title {
        font-size: 30px;
    }
    
    .box-right {
        border-radius: 0 0 20px 20px;
        padding: 20px;
    }    

    .form-button {
        margin-right: 100px;
    }

}






